<iframe class="  w-full h-full absolute " src="https://www.youtube.com/watch?v=Gt9YGtntB68?autoplay=1&mute=1&loop=1&controls=0&"
    frameborder="0"></iframe>
<div clas="h-screen bg-white">
    <div class="pt-[20%] px-24  h-full absolute text-white bg-gradient-to-r from-black">
        <h1 class="text-6xl font-bold "> Animal </h1>
        <p class="inlilne-block py-6 text-xl w-1/4 flex-wrap">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur adipisci veniam harum, nisi tempore,
            eligendi molestiae eveniet reiciendis consequuntur reprehenderit, cumque quidem recusandae rem totam sunt
            aut rerum nobis? Quibusdam.
        </p>
        <div>
            <button class="bg-white text-black py-4 px-12 text-xl rounded-lg hover:bg-opacity-60 transition-[10s]">
                play
            </button>
            <button class="mx-2 bg-gray-500 text-white px-12 py-4 text-xl bg-opacity-50 rounded-lg">
                More Info
            </button>
        </div>
    </div>
</div>