<iframe
  class="absolute w-full h-full"
  src="https://www.youtube.com/embed/Gt9YGtntB68?autoplay=1&mute=1&loop=1&controls=0&playlist=Gt9YGtntB68"
  frameborder="0"
  allow="autoplay; encrypted-media; loop; fullscreen"
>
</iframe>
<div clas="h-screen bg-white">
    <div class="pt-[20%] px-24  h-full absolute text-white bg-gradient-to-r from-black">
        <h1 class="text-6xl font-bold "> Animal </h1>
        <p class="flex-wrap w-1/4 py-6 text-xl inlilne-block">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur adipisci veniam harum, nisi tempore,
            eligendi molestiae eveniet reiciendis consequuntur reprehenderit, cumque quidem recusandae rem totam sunt
            aut rerum nobis? Quibusdam.
        </p>
        <div>
            <button class="bg-white text-black py-4 px-12 text-xl rounded-lg hover:bg-opacity-60 transition-[10s]">
                play
            </button>
            <button class="px-12 py-4 mx-2 text-xl text-white bg-gray-500 bg-opacity-50 rounded-lg">
                More Info
            </button>
        </div>
    </div>
</div>
